# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
build/
.next/
out/
.turbo/

# env
.env
.env.local
.env.*.local

# Prisma generated client
packages/db/generated/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# typescript
*.tsbuildinfo

# editors / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
